In [1]:
import pickle
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import re
import numpy as np

import json

In [2]:
import time
now = time.time()

## Первичная обработка датасетов

### Датасет sessions

In [3]:
# загружаем датасет sessions
sessions_pkl = pd.read_csv('ga_sessions/ga_sessions.csv', low_memory=False, encoding='1251')

In [4]:
sessions_pkl

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.1637753791,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.1636867288,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.1640648523,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.1622255328,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.1622255328,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1860037,9055415581448263752.1640159305.1640159305,2108378238.1640159304,2021-12-22,10:48:25,1,BHcvLfOaCWvWTykYqHVe,cpc,NaN,NaN,VlqBmecIOXWjCWUmQkLd,desktop,Windows,NaN,NaN,1920x1080,Chrome,Russia,Moscow
1860038,9055421130527858185.1622007305.1622007305,2108379530.1622007305,2021-05-26,08:00:00,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,NaN,mobile,NaN,Apple,NaN,390x844,Safari,Russia,Stavropol
1860039,9055422955903931195.1636979515.1636979515,2108379955.1636979515,2021-11-15,15:31:55,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,iOS,Apple,NaN,375x667,Safari,Russia,Moscow
1860040,905543020766873816.1638189404.1638189404,210838164.1638189272,2021-11-29,15:36:44,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,JNHcPlZPxEMWDnRiyoBf,puhZPIYqKXeFPaUviSjo,mobile,Android,Xiaomi,NaN,393x851,Chrome,Russia,Chelyabinsk
1860041,9055430416266113553.1640968742.1640968742,2108381692.1640968721,2021-12-31,19:39:02,1,fgymSoTvjKPEgaIJqsiH,cpm,FTjNLDyTrXaWYgZymFkV,yYdBRbPmBMUZHXwqGxNx,oKjXDUsycmahkgMhGdAR,desktop,Linux,NaN,NaN,1366x768,Chrome,Russia,Moscow

In [5]:
# проверяем столбцы на уникальные значения
for i in sessions_pkl.columns:
    print(i, len(sessions_pkl[i].unique()))

session_id 1860042
client_id 1391719
visit_date 226
visit_time 85318
visit_number 537
utm_source 294
utm_medium 56
utm_campaign 413
utm_adcontent 287
utm_keyword 1220
device_category 3
device_os 14
device_brand 206
device_model 105
device_screen_resolution 5039
device_browser 57
geo_country 166
geo_city 2548

In [6]:
# проверяем dataframe на количество значений NaN
sessions_pkl.isna().sum()

session_id                        0
client_id                         0
visit_date                        0
visit_time                        0
visit_number                      0
utm_source                       97
utm_medium                        0
utm_campaign                 219603
utm_adcontent                335615
utm_keyword                 1082061
device_category                   0
device_os                   1070138
device_brand                 367178
device_model                1843704
device_screen_resolution          0
device_browser                    0
geo_country                       0
geo_city                          0
dtype: int64

In [7]:
# преобразуем колонку visit_date в тип datetime
sessions_pkl['visit_date'] = pd.to_datetime(sessions_pkl['visit_date'])

### Датасет hits

In [8]:
# загружаем датасет hits
hits_pkl = pd.read_csv('ga_hits/ga_hits.csv', low_memory=False, encoding='1251')

In [9]:
hits_pkl

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
15726465,6866159858916559617.1640270865.1640270865,2021-12-23,810589.0,43,event,NaN,sberauto.com/cars/all/toyota/fortuner/24cb5af2...,quiz,quiz_show,NaN,NaN
15726466,7310304587364460692.1640261783.1640261783,2021-12-23,904927.0,40,event,NaN,sberauto.com/cars/all/mercedes-benz/gla-klasse...,quiz,quiz_show,NaN,NaN
15726467,8013702685784312179.1640270195.1640270195,2021-12-23,2172865.0,43,event,NaN,sberauto.com/cars/all/toyota/alphard/2ebe4871?...,quiz,quiz_show,NaN,NaN
15726468,8021505554734405918.1640257821.1640257821,2021-12-23,713325.0,45,event,NaN,sberauto.com/cars/all/bmw/x3/6a660f0a?rental_p...,quiz,quiz_show,NaN,NaN
15726469,1569014437485249865.1640269129.1640269129,2021-12-23,742820.0,46,event,NaN,sberauto.com/cars/all/bmw/7-serii/399ac530?utm...,quiz,quiz_show,NaN,NaN

In [10]:
# проверяем столбцы на уникальные значения
for i in hits_pkl.columns:
    print(i, len(hits_pkl[i].unique()))

session_id 1734610
hit_date 226
hit_time 925888
hit_number 500
hit_type 1
hit_referer 37874
hit_page_path 342715
event_category 52
event_action 230
event_label 39826
event_value 1

In [11]:
# проверяем dataframe на количество значений NaN
hits_pkl.isna().sum()

session_id               0
hit_date                 0
hit_time           9160322
hit_number               0
hit_type                 0
hit_referer        6274804
hit_page_path            0
event_category           0
event_action             0
event_label        3760184
event_value       15726470
dtype: int64

In [12]:
# удаляем неинформативные колонки 'hit_type' и 'event_value'
hits_pkl = hits_pkl.drop(['hit_type','event_value'], axis=1)

In [13]:
# создаём новые колонки 'manufacturer' и 'model'
# данные извлекаем из колонки 'hit_page_path'

def manufacturer(s):
    t = s.split('?')[0]
    t2 = t.split('/')
    try:
        if t2[2] == 'all':
            return t2[3]
        elif t2.count('cars') == 1:
            t0 = t2.index('cars')
            t1 = t2[t0 + 1]
            if re.search('\d+', t1) is None:
                return t1
        else:
            return np.NaN
    except:
        return np.NaN
    
def model(s):
    t = s.split('?')[0]
    t2 = t.split('/')
    try:
        return t2[4]
    except:
        return np.NaN
    
hits_pkl[['manufacturer','model']] = hits_pkl['hit_page_path'].apply([manufacturer, model])

In [14]:
# удаляем колонку 'hit_page_path'
hits_pkl = hits_pkl.drop(['hit_page_path'], axis=1)

In [15]:
# преобразуем колонку hit_date в тип datetime
hits_pkl['hit_date'] = pd.to_datetime(hits_pkl['hit_date'])

## Перенос данных в БД Postgres

In [16]:
# создаём подключение к БД Postgres
engine_de = create_engine('postgresql://postgres:a777778A@localhost:5432/de_course')

In [17]:
# переносим данные из sessions в БД Postgres
sessions_pkl.to_sql('sessions', con=engine_de, index=False, chunksize=100_000, if_exists='replace')

18042

In [18]:
# создаём primary key для таблицы sessions
engine_de.execute('alter table sessions add column s_id serial primary key')

In [19]:
# извлекаем колонки s_id и session_id таблицы sessions из БД Postgres
sessions_sql = pd.read_sql('SELECT session_id, s_id FROM sessions', engine_de)

In [20]:
# добавляем в датасет hits колонку s_id, связывающую его с таблицей sessions
hits_pkl = hits_pkl.join(sessions_sql[['session_id','s_id']].set_index('session_id'), on='session_id')

In [21]:
# удаляем строки в датасете hits не связанные с таблицей sessions
hits_pkl = hits_pkl[~hits_pkl['s_id'].isna()]

In [22]:
# преобразуем колонку s_id в тип int
hits_pkl['s_id'] = hits_pkl['s_id'].astype(int)

In [23]:
hits_pkl

,session_id,hit_date,hit_time,hit_number,hit_referer,event_category,event_action,event_label,manufacturer,model,s_id
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,NaN,quiz,quiz_show,NaN,NaN,NaN,1094317
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,NaN,quiz,quiz_show,NaN,fiat,NaN,1567721
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,NaN,quiz,quiz_show,NaN,volkswagen,polo,1814791
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,NaN,quiz,quiz_show,NaN,NaN,NaN,149843
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,NaN,quiz,quiz_show,NaN,mercedes-benz,cla-klasse,603061
...,...,...,...,...,...,...,...,...,...,...,...
15726465,6866159858916559617.1640270865.1640270865,2021-12-23,810589.0,43,NaN,quiz,quiz_show,NaN,toyota,fortuner,1368953
15726466,7310304587364460692.1640261783.1640261783,2021-12-23,904927.0,40,NaN,quiz,quiz_show,NaN,mercedes-benz,gla-klasse,1468301
15726467,8013702685784312179.1640270195.1640270195,2021-12-23,2172865.0,43,NaN,quiz,quiz_show,NaN,toyota,alphard,1626544
15726468,8021505554734405918.1640257821.1640257821,2021-12-23,713325.0,45,NaN,quiz,quiz_show,NaN,bmw,x3,1628305
15726469,1569014437485249865.1640269129.1640269129,2021-12-23,742820.0,46,NaN,quiz,quiz_show,NaN,bmw,7-serii,182020

In [24]:
# переносим данные из hits в БД Postgres
hits_pkl.to_sql('hits', con=engine_de, index=False, chunksize=100_000, if_exists='replace')

156219

In [25]:
# создаём primary key для таблицы hits
engine_de.execute('alter table hits add column h_id serial primary key')

In [26]:
time.time() - now

1020.4891650676727

In [27]:
engine_de.execute("delete from sessions where visit_date > '2022-01-01'")
engine_de.execute("delete from hits where hit_date > '2022-01-01'")

In [28]:
# with open('json/ga_sessions_new_2022-01-02.json', 'r') as f:
#     s = json.load(f)
# for i in s.values():
#     sessions_pkl = pd.DataFrame(i)
# with open('json/ga_hits_new_2022-01-02.json', 'r') as f:
#     h = json.load(f)  
# for i in h.values():
#     hits_pkl = pd.DataFrame(i)
    
# sessions_pkl['visit_date'] = pd.to_datetime(sessions_pkl['visit_date'])

# hits_pkl = hits_pkl.drop(['hit_type','event_value'], axis=1)

# def manufacturer(s):
#     t = s.split('?')[0]
#     t2 = t.split('/')
#     try:
#         if t2[2] == 'all':
#             return t2[3]
#         elif t2.count('cars') == 1:
#             t0 = t2.index('cars')
#             t1 = t2[t0 + 1]
#             if re.search('\d+', t1) is None:
#                 return t1
#         else:
#             return np.NaN
#     except:
#         return np.NaN
    
# def model(s):
#     t = s.split('?')[0]
#     t2 = t.split('/')
#     try:
#         return t2[4]
#     except:
#         return np.NaN
    
# hits_pkl[['manufacturer','model']] = hits_pkl['hit_page_path'].apply([manufacturer, model])

# hits_pkl = hits_pkl.drop(['hit_page_path'], axis=1)

# hits_pkl['hit_date'] = pd.to_datetime(hits_pkl['hit_date'])

# engine_de = create_engine('postgresql://postgres:a777778A@localhost:5432/de_course')

# sessions_pkl.to_sql('sessions', con=engine_de, index=False, chunksize=100_000, if_exists='replace')

# engine_de.execute('alter table sessions add column s_id serial primary key')

# sessions_sql = pd.read_sql('SELECT session_id, s_id FROM sessions', engine_de)

# hits_pkl = hits_pkl.join(sessions_sql[['session_id','s_id']].set_index('session_id'), on='session_id')

# hits_pkl = hits_pkl[~hits_pkl['s_id'].isna()]

# hits_pkl['s_id'] = hits_pkl['s_id'].astype(int)

# hits_pkl.to_sql('hits', con=engine_de, index=False, chunksize=100_000, if_exists='replace')

# engine_de.execute('alter table hits add column h_id serial primary key')